__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

PythonLegacy/


venv/
.env/
.venv/
env/
ENV/


data/
outputs/
test/
test_data/
src/drivers/CARTSENS-AG-501TWIN/test-data
TORGO-Database

.idea/
.vscode/
.DS_Store
Thumbs.db


*.log
*.tmp
*.bak
*.out

/target

.ipynb_checkpoints/


.coverage
htmlcov/
.tox/
pytest_cache/


TODO.txt
test.py
tyj.txt
disregard.py
graph-test.py
test-quad-area.py
old_cli.py
TestProject/

# GUI
src/GUI
.app-shell/