__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

PythonLegacy/


venv/
.env/
.env
.venv/
env/
ENV/
/MOSAIC.app


data/
outputs/
test/
test_data/
src/drivers/CARTSENS-AG-501TWIN/test-data
TORGO-Database
process.txt

.idea/
.vscode/
.DS_Store
Thumbs.db
all_rust_code.txt


*.log
*.tmp
*.bak
*.out

/target

.ipynb_checkpoints/


.coverage
htmlcov/
.tox/
pytest_cache/


TODO.txt
tyj.txt
disregard.py
graph-test.py
test-quad-area.py
old_cli.py
TestProject/

# GUI
src/GUI
.app-shell/